[submodule "Lango"]
	path = Lango
	url = https://github.com/whycody/Lango.git
	branch = main
[submodule "Lango_NodeAPI"]
	path = Lango_NodeAPI
	url = https://github.com/whycody/Lango_NodeAPI.git
	branch = main
[submodule "Lango_FastAPI"]
	path = Lango_FastAPI
	url = https://github.com/whycody/Lango_FastAPI.git
	branch = main
[submodule "Lango_Worker"]
	path = Lango_Worker
	url = https://github.com/whycody/Lango_Worker.git
	branch = main
