services:
  mongo-dev:
    image: mongo:7
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo-data-dev:/data/db
    networks:
      - lango-dev-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5
        window: 30s

  nodeapi-dev:
    image: whycody/lango_core_nodeapi:dev
    ports:
      - "3010:3000"
    env_file:
      - ./Lango_NodeAPI/.dev.env
      - .dev.env
    networks:
      - lango-dev-net
    depends_on:
      - mongo-dev
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5
        window: 30s

  fastapi-dev:
    image: whycody/lango_core_fastapi:dev
    command: uvicorn src.main:app --host 0.0.0.0 --port 8010
    env_file:
      - .dev.env
    networks:
      - lango-dev-net
    depends_on:
      - mongo-dev
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5
        window: 30s

volumes:
  mongo-data-dev:

networks:
  lango-dev-net:
    driver: overlay
